In [1]:
#import the important libraries
import pandas as pd

In [2]:
#import the advertising dataset
df_adv_dataset = pd.read_csv('Advertising Budget and Sales.csv')

In [6]:
#view top 5 record
df_adv_dataset.head()

,Unnamed: 0,TV Ad Budget ($),Radio Ad Budget ($),Newspaper Ad Budget ($),Sales ($)
0,1,230.1,37.8,69.2,22.1
1,2,44.5,39.3,45.1,10.4
2,3,17.2,45.9,69.3,9.3
3,4,151.5,41.3,58.5,18.5
4,5,180.8,10.8,58.4,12.9

In [9]:
#view the dataset size
df_adv_dataset.size

1000

In [10]:
#view the shape of the dataset
df_adv_dataset.shape

(200, 5)

In [ ]:
#view the columns of the data
df_adv_dataset(c)

In [ ]:
#create a feature object from the columns

In [ ]:
#view feature object

In [ ]:
#create a target object from the sales column which is a response in the dataset

In [ ]:
#view the target object

In [ ]:
#

In [ ]:
#

In [ ]:
#