In [3]:
#import libraries
import pandas as pd

In [5]:
df_fdny_csv_data_raw = pd.read_csv(r'C:\Users\tarachand.sahoo\Documents\Docs\DataScience\Data_Analysis_With_Python\FDNY.csv')

In [6]:
df_fdny_csv_data_raw.describe

<bound method NDFrame.describe of                                           FacilityName  \
0                                         FacilityName
1                                   Engine 4/Ladder 15
2                                  Engine 10/Ladder 10
3                                             Engine 6
4    Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...
..                                                 ...
214                  Engine 162/Ladder 82/Battalion 23
215                               Engine 167/Ladder 87
216                               Engine 164/Ladder 84
217                          Engine 168/EMS Station 23
218                               Engine 151/Ladder 76

              FacilityAddress        Borough
0             FacilityAddress        Borough
1             42 South Street      Manhattan
2          124 Liberty Street      Manhattan
3           49 Beekman Street      Manhattan
4        100-104 Duane Street      Manhattan
..                        ...            ...
214         256 Nelson Avenue  Staten Island
215         345 Annadale Road  Staten Island
216  1560 Drumgoole Road West  Staten Island
217     1100 Rossville Avenue  Staten Island
218           7219 Amboy Road  Staten Island

[219 rows x 3 columns]>

In [7]:
df_fdny_csv_data_raw.head(5)

,FacilityName,FacilityAddress,Borough
0,FacilityName,FacilityAddress,Borough
1,Engine 4/Ladder 15,42 South Street,Manhattan
2,Engine 10/Ladder 10,124 Liberty Street,Manhattan
3,Engine 6,49 Beekman Street,Manhattan
4,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street,Manhattan

In [10]:
df_fdny_csv_data = pd.read_csv(r'C:\Users\tarachand.sahoo\Documents\Docs\DataScience\Data_Analysis_With_Python\FDNY.csv', skiprows=1)

In [11]:
df_fdny_csv_data.head(5)

,FacilityName,FacilityAddress,Borough
0,Engine 4/Ladder 15,42 South Street,Manhattan
1,Engine 10/Ladder 10,124 Liberty Street,Manhattan
2,Engine 6,49 Beekman Street,Manhattan
3,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street,Manhattan
4,Ladder 8,14 North Moore Street,Manhattan

In [13]:
df_fdny_csv_data.describe()

           FacilityName        FacilityAddress   Borough
count               218                    218       218
unique              218                    218         5
top     EMS Station 17   111 West 133rd Street  Brooklyn
freq                  1                      1        66

In [14]:
df_fdny_csv_data.columns

Index(['FacilityName', 'FacilityAddress', 'Borough'], dtype='object')

In [15]:
df_fdny_csv_data.index

RangeIndex(start=0, stop=218, step=1)

In [16]:
df_fdny_csv_data.count()

FacilityName       218
FacilityAddress    218
Borough            218
dtype: int64

In [17]:
df_fdny_csv_data.dtypes

FacilityName       object
FacilityAddress    object
Borough            object
dtype: object

In [18]:
groupby_borough = df_fdny_csv_data.groupby('Borough')

In [19]:
groupby_borough